<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
	<connectionStrings>
		<add name="csRapment" connectionString="Data Source=.\sqlexpress; Initial catalog=RentApartments; Integrated Security = true" providerName="System.Data.SqlClient"/>
		<add name="RentApartment.Core.Properties.Settings.RentApartmentsConnectionString"
    connectionString="Data Source=.\sqlexpress;Initial Catalog=RentApartments;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient" />
		<add name="RentApartmentsContext" connectionString="metadata=res://*/Model.EF.RentApartments.csdl|res://*/Model.EF.RentApartments.ssdl|res://*/Model.EF.RentApartments.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=RentApartments;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>