<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccounts" />
                <binding name="BasicHttpBinding_IDictionaries" />
                <binding name="BasicHttpBinding_IRApmentAdministration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61870/Accounts.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAccounts" contract="AccountService.IAccounts"
                name="BasicHttpBinding_IAccounts" />
            <endpoint address="http://localhost:61870/Dictionaries.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDictionaries" contract="DictionaryService.IDictionaries"
                name="BasicHttpBinding_IDictionaries" />
            <endpoint address="http://localhost:61870/RApmentAdministration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRApmentAdministration"
                contract="RApmentAdministrationService.IRApmentAdministration"
                name="BasicHttpBinding_IRApmentAdministration" />
        </client>
    </system.serviceModel>
</configuration>