<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRApmentAdministration" receiveTimeout="00:10:00"
                    sendTimeout="00:10:00" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61870/RApmentAdministration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRApmentAdministration"
                contract="RApmentAdminService.IRApmentAdministration" name="BasicHttpBinding_IRApmentAdministration" />
        </client>
    </system.serviceModel>
</configuration>