<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
<connectionStrings>
  <add name="RentApartmentsContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=RentApartments;Integrated Security=True;MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add name="RentApartment.Core.Properties.Settings.RentApartmentsConnectionString"
    connectionString="Data Source=.\sqlexpress;Initial Catalog=RentApartments;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>